
/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff5ee; /* seashell */
/* 	background-color: black; */
	font-size: 22px;
/*     opacity: 0.9; */
/*     background: rgba(0, 0, 0, 0.4); */
}

/*
img {
	background: rgba(0, 0, 0, 0.4);
}
*/


/* Icon Fonts
================================ */

@font-face {
	font-family: Helvetica, Arial, serif;
	font-weight: normal;
	font-style: normal;
/* 	background: rgba(0, 0, 0, 0.9); */
}

h2 {
	font-size: 28px;	
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5  {
	font-size: 14px;
}


/* Main Layout
================================ */

header {
	z-index: 10;
	width: 100%;
    position: fixed;
	background-color: black;
    padding: 9.5px 0px 9.5px 10px;
    border-bottom: 1px solid seashell;
    height: 69px;
    opacity: 0.9;

}

.container {
    width: 100%;
	padding-top: 69px;
	opacity: 0.9;
	background-color: black;
}

footer {
	padding-left: 20px;	
}

footer h5 {
	display: inline-block;
    flex-flow: column wrap;
    text-align: left;
    width: 100%;
}

/* Top Navigation
================================ */

.nav span {
	margin: 0px 10px;
	padding-right: 20px;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.main-nav span a {
	text-decoration: underline; 
	font-size: 22px;
}

.main-logo {
	flex-grow: 2;
}

.nav {
	align-items: center;
}


/* FlexBox
================================ */

.flex {
	display: flex;
	display: -webkit-flex;
}

.f_display_inline {
	display: inline-flex;
}

/* ======================================== */
/* content ================================ */
/* ======================================== */


/* mission section 
================================ */

.f-mission_box {
    display: inline-block;
    flex-flow: row wrap;
    flex:1;
    align-items: center;
    justify-content: center;
}

.mission_box {
	background-color: black;
	text-align: center;
	opacity: 1.0;
    margin-top: 25%;
    max-height: 20%;
}

.mission_box > h2,
.mission_box > h4 {
	text-align: center;
    color: white;
}

/* product section 
================================ */

#product-wrapper{
	max-width: 1000px;
	margin: 0 auto;
}

#product_heading {
	text-align: center;
}

.product_items {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}

.product_items figure {
	display: inline-block;
	flex-direction: column;
	margin: 0 10px;
}

.product_items img {
	height: 200px;
	width: 300px;
}

.product_items figure > p {
	font-size: 16pt;
	font-weight: 800;
	margin-top: 10px;
}

/* location section 
================================ */

.location_wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.f-location {
    display: flex;
    flex-flow: column wrap;
	align-items: center;
}

.location_title {
	padding-top: 5%;
	text-align: center;
    width: 100%;
    background-color: transparent;
}


.f-location_boxes {
    display: flex;
    flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 100%;

}

.location_box {
	display: inline-block;
	margin: 0 20px;
	align-items: center;
	width: 300px;
	text-align: center;
	background-color: black;
	opacity: 1;
}

.location_box p  {
	font-size: 18px;
}

/* contact section 
================================ */

#contact-wrapper{
	background-color: black;
    height: 200px;
    opacity: 1.0;
}

.f-contact_info {
	display: inline-block;
    flex-flow: column wrap;
    text-align: center;
    width: 100%;
}




	

/* Images 
================================ */

#f-mission-img {
	display:flex;
	background-image: url( "https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg" );
	background-repeat: no-repeat;
	background-position: center center;
	height: 700px;
	width: 1200px;
	margin: 0 auto;
    opacity: 0.9;
}

#location-img {
	background-image: url( "https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg" );
	background-repeat: no-repeat;
	background-position: center center;
	height: 500px;
	width: 1200px;
	margin: 0 auto;
}


